img {
  margin: 5px 0;
  border-radius: 10px;
  border: 1px solid silver;
}

@media (min-width: 769px) {
  block {
    display: inline-block;
    box-shadow: 2px 2px 2px silver;
    box-sizing: border-box;
    border-radius: 5px;
    background: snow;
    width: 80%;
    max-width: 600px;
    margin: 10px;
    padding: 20px 30px;
    border-top: 10px solid lightgray;
  }
}

.person {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;

  &:hover {
    border-color: silver;
  }

  img {
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

details {
  display: inline-block;
  margin: 5px 0;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 10px;

  summary {
    user-select: none;
    cursor: pointer;
  }

  &:hover:not([open]) {
    background: aliceblue;
  }

  &[open] summary {
    margin-bottom: 20px;
  }
}

code:not(pre > code) {
  border-radius: 5px;
  border: 1px solid silver;
  padding: 2px 4px;
  background: rgba(175, 184, 193, 0.2);
  font-family: 'Source Code Pro', monospace;
  margin-right: 2px;
}

pre {
  margin: 20px 0;
  position: relative;

  & > code.language-js,
  & > code.language-html,
  & > code.language-python {
    display: block;
    padding-top: 10px;

    &::before {
      content: "code";
      color: grey;
      position: absolute;
      top: -5px;
      left: 0px;
      font-size: .65em;
    }
  }

  & > code.language-js::before {
    content: "Java Script";
  }

  & > code.language-html::before {
    content: "HTML";
  }

  & > code.language-python::before {
    content: "Python";
  }

  & > code.language-bash {
    display: block;
    padding: 20px 10px 10px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;

    &::before {
      content: "TERMINAL";
      color: white;
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: black;
      font-size: .65em;
    }
  }
}

.badge {
  border-radius: 5px;
  padding: 2px 5px;
  background: rgba(100, 254, 0, 0.2);
  margin: 0px 2px;
  font-weight: bold;
}

blockquote {
  border-left: 3px solid silver;
  padding-left: 10px;
  color: darkgreen;
  font-size: 1.5em;
}

summary + br {
  display: none;
}

ul, ol {
  margin: 10px 0;

  li img {
    margin: 0;
    vertical-align: middle;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

table {
  border: 1px solid silver;
  border-collapse: collapse;

  th {
    background: lightgray;
    padding: 10px;
  }

  th, td {
    padding: 10px;
    border: 1px solid silver;
  }
}

ul:not(.poll) {
  list-style: none;
  padding-left: 20px;

  li:not(.emoji):before {
    content: '▫️';
    margin-right: 7.5px;
    vertical-align: middle;
  }

  li.task:before {
    content: url('../../assets/checkbox.svg');
  }

  li.task.done:before {
    content: url('../../assets/checkbox_checked.svg');
  }
}

hr {
  height: 1px;
  box-sizing: border-box;
  border: none;
  border-top: 1px dashed silver;
  margin: 20px 0;
}

details:not([open]) > p {
  display: none;
}

p {
  margin: 5px 0;
  line-height: 1.75;

  img {
    margin: 0;
    vertical-align: middle;
  }
}

iframe {
  border-radius: 10px;
  border: 1px solid silver;

  &.giphy-embed {
    pointer-events: none;
  }
}

mark {
  display: inline-block;
  padding: 5px;
  background-color: lightgoldenrodyellow;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 0;
}
