<header>
  <a [routerLink]="['/']">
    <img alt="Epic One Hour" src="assets/epic1h.svg" width="150" height="28">
  </a>
</header>

<app-agenda [tokens]="tokens"
            [headings]="headings"
            [progress]="heap.progress"
            (block)="resetProgress()">
</app-agenda>

<ng-container *ngFor="let t of tokens;let line = index">
  <div *ngIf="t.type !== 'space'"
       class="token"
       [class.first]="line === 0"
       [class.opened]="heap.progress > 0 && heap.progress >= line"
       [attr.data-line]="line"
       [attr.data-opened]="heap.opened"
       [attr.data-progress]="heap.progress"
       [attr.data-type]="t.type">
    <button class="open" *ngIf="heap.opened >= heap.progress"
            (click)="setProgress(findChapter(heap.progress))">
      <div>Открыть</div>
      <span></span>
      <span></span>
    </button>

    <div class="marks">
      <div class="circle" *ngIf="t.type === 'hr'">
        <img *ngIf="heap.opened >= line" width="16" height="16" src="assets/done.svg">
      </div>
      <div class="progress"></div>
    </div>

    <div class="md" [attr.data-type]="t.type">
      <div class="content">
        <ng-container [ngSwitch]="t.type">

          <ng-container *ngSwitchCase="'hr'">
            <app-timer *ngIf="heap.progress == line && heap.opened < line"
                       class="timer"
                       [id]="'line_' + line"
                       [time]="t.time?.toString() || '00:05'"
                       (finished)="open(line)"></app-timer>
            <hr>
          </ng-container>

          <div *ngSwitchDefault [outerHTML]="t | token2Html"></div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<p>
  <small>Права вообще не защищены! Пользуйтесь на здоровье 😂</small>
</p>
