@import '~highlight.js/styles/docco.css';
@import '../md/typography';
@import '../md/images';
@import '../md/links';
@import '../md/details';

:host {
  display: block;
}

form {

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    &[data-orientation=horizontal] {
      display: flex;
      flex-direction: row;

      li:not(:last-child) {
        margin-right: 20px;
      }
    }

    &[data-orientation=vertical] {
      li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  li {
    label {
      border: 1px solid transparent;
      padding: 10px;
      border-radius: 5px;

      span:before {
        display: inline-block;
        margin-right: 5px;
        content: url('../../assets/checkbox.svg');
        vertical-align: middle;
      }
    }

    input {
      display: none;
    }

    &.answer {
      span:before {
        content: url('../../assets/checkbox_checked.svg');
      }
    }
  }

  &:not(.accepted) {
    label {
      cursor: pointer;

      &:hover {
        border-color: silver;
      }
    }
  }

  &.accepted {

    li.answer {
      text-decoration: underline;
    }

    li.answer:not(.right) {
      color: #FF4440;
    }

    li.right {
      color: #6AC948;
    }

    button[type=submit] {
      display: none;
    }

  }
}
