<ng-container *ngLet="heap.quizzes?.[id] as answers">
  <form *ngLet="(answers | type) === 'array' as passed"
        [formGroup]="form"
        [class.passed]="passed"
        (ngSubmit)="check()">
    <fieldset [attr.disabled]="passed || null">
      <ng-container *ngFor="let t of tokens">
        <ng-container [ngSwitch]="t.type">
          <ng-container *ngSwitchCase="'list'">
            <div class="options" formArrayName="answers"
                 [attr.data-orientation]="orientation">
              <ng-container *ngFor="let item of t.items">
                <div *ngLet="item | getFromMap: indexes as index"
                     class="option"
                     [class.right]="right | include: index"
                     [class.answer]="answersControl.value | getSelectedAnswers | include: index">
                  <label>
                    <input type="checkbox"
                           [formControlName]="index"
                           [value]="index"
                           (change)="right.length == 1 ? check() : null">
                    <span [innerHTML]="item.text | mdInline2Html"></span>
                  </label>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <div *ngSwitchDefault [outerHTML]="t | token2Html"></div>
        </ng-container>
      </ng-container>
    </fieldset>

    <button *ngIf="right.length > 1 && !answers" type="submit">Check</button>
  </form>

  <div *ngIf="!!answers && !!message" [innerHTML]="message | md2Html"></div>
</ng-container>
