details:not([open]) > p {
  display: none;
}

p {
  margin: 5px 0;
  line-height: 1.75;

  img {
    margin: 0;
    vertical-align: middle;
  }
}

pre, code {
  font-family: 'Source Code Pro', monospace;
}

code:not(pre > code) {
  border-radius: 5px;
  border: 1px solid silver;
  padding: 2px 4px;
  background: rgba(175, 184, 193, 0.2);
  font-family: 'Source Code Pro', monospace;
  margin-right: 2px;
}

pre {
  margin: 10px 0;
  position: relative;
  display: inline-block;
  min-width: 50%;

  & > code.language-yaml,
  & > code.language-js,
  & > code.language-html,
  & > code.language-python,
  & > code.language-diff,
  & > code.language-sql,
  & > code.language-text {
    display: block;
    padding-top: 10px;

    &::before {
      content: "code";
      color: grey;
      position: absolute;
      top: -5px;
      left: 0px;
      font-size: .65em;
    }
  }

  & > code.language-yaml::before {
    content: "YAML";
  }

  & > code.language-js::before {
    content: "Java Script";
  }

  & > code.language-html::before {
    content: "HTML";
  }

  & > code.language-python::before {
    content: "Python";
  }

  & > code.language-diff::before {
    content: "Patch";
  }

  & > code.language-text::before {
    content: "Plain text";
  }

  & > code.language-sql::before {
    content: "SQL";
  }

  & > code.language-bash {
    display: block;
    padding: 20px 10px 10px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;

    &::before {
      content: "TERMINAL";
      color: white;
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: black;
      font-size: .65em;
    }
  }
}

.badge {
  border-radius: 5px;
  padding: 2px 5px;
  background: rgba(100, 254, 0, 0.2);
  margin: 0px 2px;
  font-weight: bold;
}

.tag {
  &::before {
    content: '# ';
  }
  border-radius: 10px;
  padding: 2px 5px;
  background: rgba(100, 254, 0, 0.2);
  margin: 0px 2px;
  font-weight: bold;
  font-size: .85em;
}

blockquote {
  border-left: 3px solid silver;
  padding-left: 10px;
  color: darkgreen;
  font-size: 1.5em;
  margin: 20px 10px;
}

mark {
  display: inline-block;
  padding: 5px;
  background-color: lightgoldenrodyellow;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 0;
}
