
:host {
  display: block;
}

header {
  display: flex;
  justify-content: flex-end;

  img {
    display: block;
  }
}

h1 {
  border: 1px solid silver;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
}

.me {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 40px;
  cursor: default;
}

:host([data-am-owner=true]) {
  .token {
    .comments b {
      cursor: pointer;
    }
  }

  .me {
    cursor: pointer;
  }
}

.token {
  display: flex;
  position: relative;

  &:not(.opened) {
    .md {
      filter: blur(4px);
      user-select: none;
      cursor: not-allowed;
    }

    .locked {
      display: block;
    }
  }

  &.opened {
    .marks:hover {
      button {
        opacity: 1;
      }

      .tools {
        display: flex;
      }
    }
  }

  .open {
    border: none;
    position: absolute;
    display: none;
    z-index: 1;
    top: 20px;
    right: 0;
    left: 40px;
    width: 120px;
    height: 80px;
    cursor: pointer;
    background: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      position: absolute;
      z-index: 10;
      top: -20px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: greenyellow;
      border: 2px solid white;
      box-shadow: 2px 2px 2px silver;

      &:hover {
        background-color: lightgreen;
      }
    }

    svg {
      position: absolute;
      left: 40px;
      z-index: 5;
      transform: rotate(-45deg);
    }

    &:hover {
      span {
        border-color: greenyellow;
      }
    }

    span {
      user-select: none;
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 5px solid greenyellow;
      border-right: 5px solid greenyellow;
      transform: rotate(45deg);
      margin: -10px 0;
      animation: animate-open 2s infinite;

      &:nth-child(2) {
        animation-delay: -0.2s;
      }

    }

    @keyframes animate-open {
      0% {
        opacity: 0;
        transform: rotate(45deg) translate(-40px, -40px);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
      }
    }
  }

  .timer {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
  }

  &.first:not(.opened),
  &.opened + &:not(.opened) {
    .open {
      display: flex;
    }
  }

  &.opened {
    .marks .progress {
      background: lightgreen;
    }
  }

  .marks {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40px;
    max-width: 40px;

    .my {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      z-index: 1;
      width: 30px;
      height: 30px;
      border: 5px solid lightgreen;
      border-radius: 50%;
      user-select: none;
      background: white;
      font-size: 20px;
      padding-top: 2px;
    }

    &.marked, &:hover {
      .my {
        display: flex;
      }
    }

    .progress {
      position: absolute;
      width: 10px;
      top: 5px;
      bottom: 5px;
      margin: 0 auto;
      background: silver;
    }

    .tools {
      display: none;
      position: absolute;
      top: 0;

      align-items: center;
      z-index: 50;
      left: 40px;
      padding-left: 10px;

      .content {
        border: 2px solid lightgreen;
        padding: 10px;
        border-radius: 5px;
        background: aliceblue;

        .buttons {
          display: flex;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            border: 1px solid lightgreen;
            border-radius: 50%;
            cursor: pointer;
            font-size: 20px;
            width: 35px;
            height: 35px;

            &:not(:last-child) {
              margin-right: 5px;
            }
          }

          button:not(.marked) {
            opacity: .5;
          }
        }

        textarea {
          width: 400px;
          margin-top: 10px;
        }
      }
    }
  }

  .md {
    position: relative;

    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-left: 5px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;

    .content {
      /** overflow-x: scroll; **/
      ::ng-deep {
        @import "md";
      }
    }

    .poll {
      list-style: none;

      li {
        cursor: pointer;

        &:before {
          margin-right: 5px;
          vertical-align: middle;
          content: url('../../assets/radio.svg');
        }

        &.selected:before {
          content: url('../../assets/radio_checked.svg');
        }

        .votes {
          display: inline;
          border: 1px solid silver;
          border-radius: 5px;
          margin-left: 5px;
          padding: 4px;

          span:not(:first-child) {
            margin-left: 4px;
          }
        }

        > span {
          border: 1px solid transparent;
          padding: 4px 4px;
          border-radius: 5px;

          &:hover {
            border-color: silver;
          }
        }
      }
    }

    .unlock {
      width: 100%;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background: transparent;

      &:hover {
        background: greenyellow;
      }
    }

    .members {
      &:empty {
        display: none;
      }

      margin: 5px 0;

      > div {
        display: inline-block;
        position: relative;
        font-size: 30px;
        width: 35px;
        user-select: none;

        &:not(:first-child) {
          margin-left: 5px;
        }

        span {
          position: absolute;
          bottom: -5px;
          right: -5px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          font-size: 18px;
        }
      }
    }

    .progress {
      &:empty {
        display: none;
      }

      margin-top: 5px;

      display: flex;
      align-content: flex-start;
      user-select: none;

      div {
        font-size: 16px;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }

    .comments {
      &:empty {
        display: none;
      }

      margin-top: 5px;
      background: aliceblue;
      padding: 10px;
      border-radius: 5px;
      font-size: .85em;

      button {
        cursor: pointer;
        display: block;
        background: white;
        border-radius: 5px;
        border: 1px solid silver;
        padding: 2px 5px;

        &:hover {
          background: seashell;
        }
      }

      > div:not(:first-child) {
        margin-top: 10px;
      }

      &:empty {
        display: none;
      }

      ::ng-deep {
        ul {
          margin: 0;

          li {
            margin: 0;
          }
        }

        pre {
          margin: 5px 0;
        }
      }
    }
  }

  &:last-child {
    .md {
      border-radius: 0 0 10px 10px;
      border-bottom: 1px solid silver;
      padding-bottom: 10px;
    }
  }

  &.first {
    .md {
      border-radius: 10px 10px 0 0;
      border-top: 1px solid silver;
      padding-top: 10px;
    }
  }
}

