<header>
  <a href="https://www.youtube.com/@epic_one_hour" target="_blank">
    <img alt="Epic One Hour" src="assets/epic1h.svg" width="150" height="28">
  </a>
</header>

<div class="me" (click)="current = me.id">
  {{me.avatar | avatar}}
</div>

<app-agenda [tokens]="tokens"
            [progress]="channel.progress[me.id]"
            (block)="resetProgress()">
</app-agenda>

<ng-container *ngFor="let t of tokens;let line = index">
  <div *ngIf="t.type !== 'space'"
       class="token"
       [class.first]="line === 0"
       [class.opened]="channel.progress[me.id] > 0 && channel.progress[me.id] >= line"
       [attr.data-line]="line"
       [attr.data-opened]="channel.opened[me.id]"
       [attr.data-progress]="channel.progress[me.id]"
       [attr.data-type]="t.type">
    <button class="open" *ngIf="channel.opened[me.id] >= channel.progress[me.id]"
            (click)="setProgress(findChapter(channel.progress[me.id] || 0))">
      <div>Открыть</div>
      <span></span>
      <span></span>
    </button>

    <div class="marks" [class.marked]="!!channel.marks[current][line]">
      <div class="my">
        <ng-container *ngIf="channel.marks[current][line] as mark">
          {{mark | mark}}
        </ng-container>
      </div>
      <div class="tools">
        <div class="content">
          <div class="buttons">
            <button [class.marked]="channel.marks[current][line] === 'problem'"
                    (click)="putMark(line, current, channel.marks[current][line] !== 'problem' ? 'problem' : null)">
              🔥
            </button>
            <button [class.marked]="channel.marks[current][line] === 'shit'"
                    (click)="putMark(line, current, channel.marks[current][line] !== 'shit' ? 'shit' : null)">
              💩
            </button>
            <button [class.marked]="channel.marks[current][line] === 'like'"
                    (click)="putMark(line, current, channel.marks[current][line] !== 'like' ? 'like' : null)">
              👍
            </button>
          </div>
          <textarea [formControl]="getCommentControl(line, current)"
                    rows="10"
                    placeholder="Комментарий"></textarea>
        </div>
      </div>

      <div class="progress"></div>
    </div>

    <div class="md">
      <div class="content">
        <ng-container [ngSwitch]="t.type">

          <ng-container *ngSwitchCase="'hr'">
            <app-timer class="timer" *ngIf="channel.progress[me.id] == line && channel.opened[me.id] < line"
                       [id]="channel.id + '_timer_' + line"
                       [time]="t.time || '00:05'"
                       (finished)="open(line)"></app-timer>
            <hr>
          </ng-container>

          <ng-container *ngSwitchCase="'poll'">
            <p>{{t.question}}?</p>
            <ul class="poll">
              <li *ngFor="let o of t.options;let j = index"
                  [class.selected]="channel.polls[me.id] && channel.polls[me.id][line] === j">
                <span (click)="votePoll(line,  j)">{{o}}</span>
                <ng-container *ngIf="channel.polls[me.id]">
                  <ng-container *ngIf="(channel | voted:me:line:j) as voted">
                    <div class="votes" *ngIf="voted.length > 0">
                      <span *ngFor="let m of voted" title="m.name">{{m.avatar | avatar}}</span>
                    </div>
                  </ng-container>
                </ng-container>
              </li>
            </ul>
          </ng-container>
          <div *ngSwitchDefault [outerHTML]="t | token2Html"></div>
        </ng-container>
      </div>

      <div class="members">
        <ng-container *ngFor="let member of channel.members | keyvalue">
          <ng-container *ngIf="member.key !== me.id">
            <div *ngIf="channel.marks[member.key][line] as mark"
                 [attr.title]="member.value.name">
              {{member.value.avatar | avatar}}
              <span>{{mark | mark}}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="progress">
        <ng-container *ngFor="let m of channel.members | keyvalue">
          <div *ngIf="m.key !== channel.owner && m.key !== me.id && channel.progress[m.key] === line">
            {{m.value.avatar | avatar}}
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="(channel.comments[line] | keyvalue) as comments">
        <div *ngIf="comments.length > 0" class="comments">
          <button (click)="state.comments[line] = !state.comments[line]">
            {{state.comments[line] ? '↑' : '↓'}} ... <sup>{{comments.length}}</sup>
          </button>
          <ng-container *ngIf="state.comments[line]">
            <ng-container *ngFor="let comment of comments">
              <div *ngIf="channel.members[comment.key] as member">
                <b (click)="current = member.id">{{member.avatar | avatar}} {{member.name}}</b>
                <div [outerHTML]="comment.value | md2Html"></div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<p>
  <small>Права вообще не защищены! Пользуйтесь на здоровье 😂</small>
</p>
