<div class="me">
  {{me.avatar | avatar}}
</div>

<ng-container *ngIf="channel.markdown | tokens as tokens">
  <ng-container *ngFor="let t of tokens;let line = index">
    <div *ngIf="t.type !== 'space'"
         class="token"
         [class.first]="line === 0"
         [class.opened]="channel.progress[me.id] >= line"
         [class.unlocked]="channel.progress[channel.owner] >= line"
         [attr.data-type]="t.type">
      <div *ngIf="me.id !== channel.owner" class="open">
        <button (click)="setProgress(channel.progress[channel.owner])">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="marks" [class.marked]="!!channel.marks[me.id][line]">
        <div class="my">
          <ng-container *ngIf="channel.marks[me.id][line] as mark">
            {{mark | mark}}
          </ng-container>
        </div>
        <div class="tools">
          <div class="content">
            <div class="buttons">
              <button [class.marked]="channel.marks[me.id][line] === 'problem'"
                      (click)="putMark(line, channel.marks[me.id][line] !== 'problem' ? 'problem' : null)">
                🔥
              </button>
              <button [class.marked]="channel.marks[me.id][line] === 'hand'"
                      (click)="putMark(line, channel.marks[me.id][line] !== 'hand' ? 'hand' : null)">
                ✋
              </button>
              <button [class.marked]="channel.marks[me.id][line] === 'like'"
                      (click)="putMark(line, channel.marks[me.id][line] !== 'like' ? 'like' : null)">
                👍
              </button>
            </div>
            <textarea [formControl]="getCommentControl(line)"
                      placeholder="Комментарий"></textarea>
          </div>
        </div>

        <div class="progress"></div>
      </div>

      <div class="md">
        <div class="content">
          <ng-container [ngSwitch]="t.type">

            <ng-template #chapterTemplate>
              <hr>
            </ng-template>

            <ng-container *ngSwitchCase="'hr'">
              <button class="unlock" *ngIf="t.type === 'hr' && me.id === channel.owner;else chapterTemplate"
                      (dblclick)="setProgress(tokens.length - 1)"
                      (click)="setProgress(line)">
                <hr>
              </button>
            </ng-container>

            <ng-container *ngSwitchCase="'timer'">
              <app-timer [id]="line"
                         [time]="t.time"
                         [manage]="me.id === channel.owner"
                         (started)="startTimer(line, $event)"
                         (stopped)="stopTimer(line, $event)">
              </app-timer>
            </ng-container>
            <div *ngSwitchDefault [outerHTML]="t | token2Html"></div>
          </ng-container>

          <div class="members">
            <ng-container *ngFor="let member of channel.members | keyvalue">
              <ng-container *ngIf="member.key !== me.id">
                <div *ngIf="channel.marks[member.key][line] as mark"
                     [attr.title]="member.value.name">
                  {{member.value.avatar | avatar}}
                  <span>{{mark | mark}}</span>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="progress">
            <ng-container *ngFor="let m of channel.members | keyvalue">
              <div *ngIf="m.key !== channel.owner && m.key !== me.id && channel.progress[m.key] === line">
                {{m.value.avatar | avatar}}
              </div>
            </ng-container>
          </div>
          <div class="comments">
            <ng-container *ngFor="let comment of (channel.comments[line] | keyvalue)">
              <div *ngIf="channel.members[comment.key] as member">
                <b>{{member.avatar | avatar}} {{member.name}}</b>
                <div [outerHTML]="comment.value | md2Html"></div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

