@import '~highlight.js/styles/docco.css';
@import '../md';

:host {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  background: lightgoldenrodyellow;
  margin: 10px 0;
}

form {

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  .options {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .votes {
      margin-left: 10px;
      border-radius: 5px;
      background-color: green;
      padding: 2px 5px;
      font-size: .75em;
      color: white;
    }

    &[data-orientation=horizontal] {
      flex-direction: row;

      .option:not(:last-child) {
        margin-right: 20px;
      }
    }

    &[data-orientation=vertical] {
      .option:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .option {
      label {
        border: 1px solid transparent;
        padding: 10px;
        border-radius: 5px;

        .text:before {
          display: inline-block;
          margin-right: 5px;
          content: url('../../assets/radio.svg');
          vertical-align: middle;
        }
      }

      input {
        display: none;
      }

      &.answer {
        .text:before {
          opacity: .5;
          content: url('../../assets/radio_checked.svg');
        }
      }
    }
  }

  &:not(.voted) {
    label {
      cursor: pointer;

      &:hover {
        border-color: silver;
      }
    }
  }

  &.voted {
    button[type=submit] {
      display: none;
    }
  }

}
