:host {
  display: block;
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 100px;
  right: 60px;
  border: 3px solid silver;
  border-radius: 10px;
  padding: 20px;
  opacity: .5;
  transition: all 500ms;

  &:hover {
    opacity: 1;

    [data-open] {
      display: none;
    }

    [data-agenda] {
      display: block;
    }
  }

  ::ng-deep {
    code {
      border-radius: 5px;
      border: 1px solid silver;
      padding: 2px 4px;
      background: rgba(175, 184, 193, 0.2);
      font-family: 'Source Code Pro', monospace;
      margin-right: 2px;
    }
  }
}

[data-open] {
  display: block;
  fill: silver;
}

[data-agenda] {
  display: none;
  button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;
    svg {
      fill: silver;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 5px 5px 5px 10px;
      border-left: 3px solid transparent;

      &[data-depth="3"], &[data-depth="4"] {
        padding-left: 25px;
      }

      &:hover {
        border-color: greenyellow;
      }

      a {
        color: black;
        text-decoration: none;
        font-size: 15px;
      }
    }
  }
}
