:host {
  display: block;
  position: absolute;
  background-color: white;
  z-index: 100;
  top: 100px;
  right: 60px;
  border-radius: 10px;
  opacity: .5;
  padding: 20px;
  border: 2px solid silver;
  transition: opacity 500ms;

  &[data-empty=true] {
    display: none;
  }

  &[data-sticky=true] {
    top: 10px;
    position: fixed;
  }

  &[data-sticky=true]:not(:hover) {
    // border-radius: 50%;
  }

  &:hover {
    opacity: 1;

    [data-open] {
      display: none;
    }

    [data-agenda] {
      display: block !important;
    }
  }

  &[data-init=true], &:hover {
    opacity: 1;
  }

  &[data-init=false] [data-agenda] {

  }

  &[data-init=true] [data-open] {

  }
}

[data-open] {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 100%;
  width: 48px;
  height: 48px;

  [data-icon] {
    fill: black;
  }

  [data-done] {
    position: absolute;
    top: 0;
    left: 0;
    fill: transparent;
    transform: rotate(-90deg);
    border-radius: 50%;
  }
}

[data-agenda] {

  button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;

    svg {
      fill: silver;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 5px 5px 5px 10px;
      border-left: 3px solid transparent;

      &[data-depth="3"], &[data-depth="4"] {
        padding-left: 25px;
      }

      &[data-passed=true], &:hover {
        border-color: greenyellow;
      }

      a {
        color: black;
        text-decoration: none;
        font-size: 15px;
      }
    }
  }
}
