:host {
  display: block;
  user-select: none;
}

div {
  opacity: .25;
  font-size: 40px;
  text-shadow: 1px 1px white;
}

button {
  background-color: transparent;
  border: none;
  padding: 5px;
  color: slategray;
  &:hover {
    color: black;
    cursor: pointer;
  }
}
