@import "~highlight.js/styles/github.css";

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 10px 40px;
}

button, textarea, input {
  font-family: 'Roboto', sans-serif;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid silver;
}

input {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid silver;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  content: url(assets/checkbox.svg) url(assets/checkbox_checked.svg) url(assets/radio.svg) url(assets/radio_checked.svg); // load images
}
