@import "~highlight.js/styles/docco.css";

body {
  font-family: 'Roboto', 'Noto Color Emoji', sans-serif;
  padding: 20px 40px;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
    font-size: 12px;
  }
}

button, textarea, input {
  font-family: 'Roboto', 'Noto Color Emoji', sans-serif;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid silver;
}

input {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid silver;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  content: url(assets/checkbox.svg) url(assets/checkbox_checked.svg) url(assets/radio.svg) url(assets/radio_checked.svg)  url(assets/expand.svg)  url(assets/collapse.svg); // load images
}

pre, code {
  font-family: 'Source Code Pro', monospace;
}
